---
---

@import "minima";

.center-image
{
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small-image
{
    width: 50%;
}

.logo
{
    width: 75px;
    height: 75px;
}

.etsy
{
    width: 50%;
}

.footer-heading {
    display: none;
}

